<%= form_with(model: @folder) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    
    <div class="title">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    
    <div class = "submit">
        <%= f.submit %>
    </div>
<% end %>