<div class = "row">
    <div class = "col-sm-6 offset-sm-3">
        <%= form_with(model: @event) do |f| %>
            
            <div class="mb-3">
                <%= f.label :title, 'タイトル' %>
                <%= f.text_field :title, class: 'form-control' %>
            </div>
            
            <div class="mb-3">
                <%= f.label :contnet, '内容' %>
                <%= f.text_field :content, class: 'form-control' %>
            </div>
            
            <div class="mb-3">
                <%= f.label :start_time, '日時' %>
                <%= f.datetime_select :start_time %>
            </div>
            
            <%= f.submit 'Submit', class: 'btn btn-primary w-100' %>
        <% end %>
    </div>
</div>