<%= form_with(model: company) do |f| %>
    <%= render 'layouts/error_messages', model: company %>
    
    <div class="name">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    
    <div class="founded">
        <%= f.label :founded %>
        <%= f.text_field :founded %>
    </div>
    
    <div class="philosophy">
        <%= f.label :philosophy %>
        <%= f.text_field :philosophy %>
    </div>
    
    <div class="number">
        <%= f.label :number %>
        <%= f.text_field :number %>
    </div>
    
    <div class="content">
        <%= f.label :content %>
        <%= f.text_field :content %>
    </div>
    
    <div class="time">
        <%= f.label :time %>
        <%= f.text_field :time %>
    </div>
    
    <div class="rival">
        <%= f.label :rival %>
        <%= f.text_field :rival %>
    </div>
    
    <div class="remarks">
        <%= f.label :remarks %>
        <%= f.text_field :remarks %>
    </div>
    
    <p>Folder <%= collection_select :company, :folder_id, Folder.all, :id, :title %></p>
    
    <div class ="submit">
        <%= f.submit %>
    </div>
<% end %>